## Blind Profiler Parameters Setup

In [ ]:
from blind_profiler import BlindProfiler

blind_profiler = BlindProfiler()
blind_profiler.setup_widgets()

## Blind Profiler Runner

In [ ]:
blind_profiler.profile()

## Blind Profiler Results Explainer

- **Table**: The name of the table being profiled
    - Example: `customer_data` - identifies which table this profile row belongs to
- **Column**: The name of the column within the table being analyzed
    - Example: `age` - the specific column being profiled
- **Min**: The minimum value found in the column
    - Numeric example: `18` - youngest customer is 18 years old
    - Date example: `2020-01-15T00:00:00` - earliest date record in the dataset
- **Max**: The maximum value found in the column
    - Numeric example: `89` - oldest customer is 89 years old
    - Date example: `2024-12-31T23:59:59` - most recent date record in the dataset
- **Mean**: The average value of the column
    - Numeric example: `45.67` - average age is 45.67 years
    - Date example: `2022-06-15T12:30:00` - average timestamp falls in mid-2022
- **Variance**: The statistical variance of numeric values
    - Numeric example: `123.45` - measures how spread out the ages are from the mean age of 45.67
    - Date example: `N/A` - variance calculation not meaningful for dates
- **StdDev**: The standard deviation of numeric values
    - Numeric example: `11.11` - typical age varies by +/-11.11 years from the mean
    - Date example: `N/A` - standard deviation not calculated for dates
- **Mode**: The most frequently occurring value in the column
    - Numeric example: `25` - age 25 appears more often than any other age
    - Text example: `Premium` - "Premium" is the most common category value
- **ModeFreq**: The number of times (frequency) the mode value appears in the dataset
    - Example: `847` - the most common value (25) appears exactly 847 times out of all records
- **NullCount**: The total number of null/missing values in the column
    - Example: `23` - there are 23 records where this column has no data
- **RecordCount**: The total number of records in the table
    - Example: `1000` - the entire table contains 1,000 rows of data

## Sample Output Row

Table | Column | Min | Max | Mean | Variance | StdDev | Mode | ModeFreq | NullCount | NullCountPct | RecordCount
------|--------|-----|-----|------|----------|--------|------|----------|-----------|--------------|------------
customers | age | 18 | 89 | 45.67 | 123.45 | 11.11 | 25 | 847 | 23 | 2.30 | 1000